@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

.swiper-pagination {
  width: 54px;
  height: 6px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.active-bullet {
  background-color: #99b17b !important;
}

.default-bullet {
  background-color: #e6e6e6;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.swiper-clip-path {
  clip-path: polygon(
    0 52%,
    0 67%,
    20% 79%,
    50% 83%,
    80% 78%,
    100% 65%,
    100% 50%,
    76% 66%,
    50% 71%,
    22% 67%
  );
}
